{% extends "base.html" %}
{% load static %}

{% load widget_tweaks %}

{% block content %}
<h1>Edit Profile</h1>


<div class="container">
    <div class="card" style="margin: 50px auto; font-size=20px">
        <form class="p-3 mb-2 text-black" enctype="multipart/form-data" method="post"
              style="margin-bottom: 15px; background: #f7f7f7; box-shadow: 0px 2px 2px rgba(0,0,0,0.3) padding: 30px">
            {% csrf_token %}
            <div class="card-header">
                <h2 class="text-center">Update Info</h2>
            </div>


            <div class="row">

                <div class="col-lg-6">
                    <div class="mb-3">
                        <label class="form-label">Phone</label>
                        {{ form.phone|add_class:"form-control" }}
<!--                        {% for error in form.phone.errors %}-->
<!--                        <li class="small text-danger">{{ error }}</li>-->
<!--                        {% endfor %}-->
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="mb-3">
                        <label class="form-label">NID</label>
                        {{ form.nid|add_class:"form-control" }}
<!--                        {% for error in form.nid.errors %}-->
<!--                        <li class="small text-danger">{{ error }}</li>-->
<!--                        {% endfor %}-->
                    </div>
                </div>

            </div>

            <div class="mb-3">
                <dib><label class="form-label">Bio</label></dib>
                <div>{{form.bio|add_class:"form-control" }}</div>
<!--                {% for error in form.bio.errors %}-->
<!--                <li class="small text-danger">{{ error }}</li>-->
<!--                {% endfor %}-->

            </div>

             <div class="row">

                <div class="col-lg-6">
                    <div class="mb-3">
                        <label class="form-label">Date of Birth</label>
                        {{ form.date_of_birth|add_class:"form-control"}}
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="mb-3">
                        <label class="form-label">Home District</label>
                        {{ form.district|add_class:"form-control"}}
                    </div>
                </div>

            </div>


            <div class="row">

                <div class="col-lg-6">
                    <div class="mb-3">
                        <label class="form-label">Current Address</label>
                        {{ form.current_address|add_class:"form-control"}}
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="mb-3">
                        <label class="form-label">Permanent Address</label>
                        {{ form.permanent_address|add_class:"form-control"}}
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-lg-6">
                    <div class="mb-3">
                        <label class="form-label">Blood Group</label>
                        {{ form.blood_group|add_class:"form-control" }}
<!--                        {% for error in form.blood_group.errors %}-->
<!--                        <li class="small text-danger">{{ error }}</li>-->
<!--                        {% endfor %}-->
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="mb-3">
                        <label class="form-label">Gender</label>
                        {{ form.gender|add_class:"form-control" }}
<!--                        {% for error in form.gender.errors %}-->
<!--                        <li class="small text-danger">{{ error }}</li>-->
<!--                        {% endfor %}-->
                    </div>
                </div>

            </div>
            <div class="row">

                <div class="col-lg-6">
                    <div class="mb-3">
                        <label class="form-label">Relationship Status</label>
                        {{ form.relation_status|add_class:"form-control"}}
<!--                        {% for error in form.relation_status.errors %}-->
<!--                        <li class="small text-danger">{{ error }}</li>-->
<!--                        {% endfor %}-->
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="mb-3">
                        <label class="form-label">Religion</label>
                        {{ form.religion|add_class:"form-control" }}
<!--                        {% for error in form.religion.errors %}-->
<!--                        <li class="small text-danger">{{ error }}</li>-->
<!--                        {% endfor %}-->
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <button type="submit" class="btn btn-success btn-block">Update</button>
                </div>
                <div class="col-lg-6 ">
                    <a class="btn btn-secondary float-right" href="{% url 'profile' profile.user.id %}">Go Back</a>
                </div>
            </div>

        </form>
    </div>
</div>
{% endblock %}
